language: php

php:
  - 5.5.9
  - 5.5
  - 5.6
  - 7.0

matrix:
  fast_finish: true

install:
  - wget https://github.com/satooshi/php-coveralls/releases/download/v0.7.0/coveralls.phar
  - composer self-update

script:
 - vendor/bin/parallel-lint src/
